@model PostDetailViewModel
@{
    ViewData["Title"] = Model.Post.Title;
}


<section class="py-1">
    <div class="container mt-1 mb-1">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">

                    <div class="card mb-4">
                        <img class="card-img-top" src="/Img/@Model.Post.PostImage" height="350" width="850" alt="...">
                        <div class="card-body">
                            <div class="small text-muted">@Model.Post.CreateDate</div>
                            <h2 class="card-title">@Model.Post.Title</h2>
                            <p class="card-text">@Model.Post.PostMessage</p>

                            <div class="row">  
                                <div class="col-6">

                                </div>
                                <div class="col-2 text-center">
                                    <p class="font-weight-bold text-uppercase"> @Model.Post.User.UserName</p>
                                </div>
                                <div class="col-4">
                                    <img src="~/Img/@Model.Post.User.ProfilePicture" alt="@Model.Post.User.UserName"  class="rounded-circle" height="80"/>
                                </div>

                            </div>
                        </div>
                    </div>
                    @*deneme branch*@

                </div>

                <div class="container-fluid">

                    <div class="flex-row">

                        <partial name="_PostPartial" model="Model.RelatedPosts" />

                    </div>
                </div>
                

            </div>
            <div class="col-lg-4">
                <!-- Arama Çubuğu-->
                <div class="card mb-4">
                    <div class="card-header">Aramaya İnan...</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Aranacak karakteri gir, ama düzgün gir..." aria-label="Enter search term..." aria-describedby="button-search">
                            <button class="btn btn-primary" id="button-search" type="button">Ara!</button>
                        </div>
                    </div>
                </div>


                <!-- Günün Özlü Sözü -->
                <div class="card mb-4">
                    <div class="card-header">Günün Özlü Sözü</div>
                    <div class="card-body">Yayla Kadar Gözüm olsa, tek bakanım sen olmazdın...</div>
                </div>

                <!-- Duyurular -->
                <div class="card mb-4">
                    <div class="card-header">Önemli Duyurular !</div>
                    <div class="card-body"> Zor zamanlar yaklaşıyor, bu zor zamanları daha rasyonel atlatabilmek için birbirimizi duymaya ihtiyacımız var. Katmanlı Blog Yönetimi, iletişime geçildiği takdirde Duyuru yapmaya hazırdır!    </div>
                </div>

            </div>




        </div>
    </div>
</section>

<hr />
